* {
    margin-bottom: 20px;
}

body {
    background: #008cff;
    padding: 50px;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 0px #000;
}

p {
    max-width: 500px;
}

button {
    height: 30px;
    border-radius: 3px;
}

span {
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}

a {
    display: block;
    font-size: 14px;
    color: #2d2d2d;
}
